{% extends "base.html" %}{% block content %}
<section class="hero"><div class="hero-grid">
  <a class="game-card" href="/game/crash"><img src="/static/img/hero_crash.jpg" class="game-hero"><div class="game-info"><h3>Crash</h3></div></a>
  <a class="game-card" href="/game/tiger"><img src="/static/img/hero_tiger.jpg" class="game-hero"><div class="game-info"><h3>Fortune Tiger</h3></div></a>
  <a class="game-card" href="/game/ox"><img src="/static/img/hero_ox.jpg" class="game-hero"><div class="game-info"><h3>Fortune OX</h3></div></a>
  <a class="game-card" href="/game/mines"><img src="/static/img/hero_mines.jpg" class="game-hero"><div class="game-info"><h3>Mines</h3></div></a>
</div></section>{% endblock %}